<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>Hola {{ name }}</h1>
    <ul>
    {% comment %}
    Hola soy un comentario multilinea que no se va 
    a mostrar en el navegador
    {% endcomment %}

      <!-- Hola soy un comentario de una sola linea que se mostrara en el navegador -->
      {% for category in categories %}
        {% if category == 'Frontend' %}
          <li>
            <b>{{ category|upper }}</b>
          </li>
        {% else %}
          <li>{{ category }}</li>
        {% endif %}
      {% endfor %}
      <h5>Total de categorias: {{ categories|length }}</h5>
    </ul>
  </body>
</html>
